<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A simple Contact Form</title>
</head>
<body>
<h1>Contact Form</h1>
<form method="post" th:action="@{/submit}" th:object="${contactForm}">
    <div>
        <label>Name:
            <input type="text" th:field="*{name}"/>
        </label>
    </div>
    <div>
        <label>Email:
            <input type="email" th:field="*{email}"/>
        </label>
    </div>
    <div>
        <label>Birthdate:
            <input type="date" th:field="*{birthdate}"/>
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>